

body {
    background-image: url("../images/crystalBackground.jpg");
   opacity: 0.7;
    height: 150%;
     background-position: center;
     background-repeat: no-repeat;
    background-size: cover;
    /* width: auto;
    height: auto; */
}

/* Heading settings */
.gem {
    color: aliceblue;
    border-color: whitesmoke;
    text-align: center;
}

/* Body Content*/
#birdBox {
    font-size:  14px;
    color: greenyellow;
    border: 200px;
    margin-right: 500px;
    float: left;
    margin-right: 200px;
}

/* Game Objective and Results */
#goal {
 background-color: white;
 opacity: 0.5;
 float: left; 
 border: 75px;
 width: 35%;
 height: 13%;
 text-align: center;
 padding: 10px;
}

#streaks {
    float: left;
    background-color: plum;
    width: 15%;
    height: 13%;
}

/* Images */ 
.choices {
    float: left;
}

/* Karat Count */
#current {
    background-color: white;
    opacity: 0.5;
    padding: 10px;
    float: left;
    margin-left: 1%;
    width: 33%;
}

#end {
    /* background-color: white; */
    float: left;
}



