/* ask about linking images into background from css */
body {
    background-image: url("../images/crystalBackground.jpg");
    width: 960px;
    height: 1300px;
}

/* Heading settings */
.gem {
    color: aliceblue;
    border-color: whitesmoke;
    text-align: center;
}

/* Body Content*/
#instruct {
    font-size:  14px;
    color: greenyellow;
    border: 200px;
    margin-right: 500px;
}

#birdBox {
    float: left;
    margin-right: 200px;
}



